div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    background: white;
    border: 3px solid navy;
    border-radius: 5px;
    pointer-events: none;
    text-align: left;
}

.tooltipP {
    margin-bottom: 0;
}
    
#controls{
    position: fixed;
    top: 0;
    background-color: white;
    border: 3px solid navy;
    z-index: 1;    
}

#iconKey{
    padding: 2%;
    background-color: whitesmoke;
}
#iconKey ul {
    padding-left: 0px;
}
#iconKey ul li {
   list-style-type:none;
}

#iconKey hr {
    margin: 4px;
}

input[type=checkbox] + label {
    display: none;
}
input[type=checkbox]:checked + label {
  display: block;
} 

#overview{
   max-width: 100em;
    margin: 10px auto;
    border: beige;
    border-style: dotted;
    padding: 1em;
    background-color: wheat;
}

.errorNote{
    color: darkred;
    padding: 1%;
    background-color: peachpuff;
    border-radius: 12px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.highlightHTML{
color: steelblue;
    padding: 3px;
}
/* setting this with a psusdo hover class for now, but it might be better to use a ".highlightHTML .active" rule and we just add and subtract the active class with d3. */
.highlightHTML:hover {
    color: white;
    background-color: brown;
    border-radius: 5px;
}

.highlightSegment {
    color: slateblue;
    padding: 3px;
}
.highlightSegment:hover{
    color: white;
    background-color: chocolate;
    border-radius: 10px;
}

/* Not sure if I need a different set of rules for svg elements since they use fill instead of color */
.highlightSVG {
    fill: steelblue;
    padding: 3px;
}